{% extends 'store/product/_base.html.twig' %}

{% block titleContent %}Hello ProductController!{% endblock %}

{% block bodyContent %}

    <h2>Product Edit</h2>

    {% include 'store/product/_form.html.twig' %}

{% endblock %}
