{% extends 'store/category/_base.html.twig' %}

{% block titleContent %}   {{ parent() }} | edit {% endblock %}

{% block bodyContent %}

    <h2>Category Edit</h2>

    {% include 'store/category/_form.html.twig' %}

{% endblock %}
